In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, we summarize Data Science tools, languages, and libraries. We also include examples of arithmetic expressions.

In [ ]:
## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

In [ ]:
## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn

In [ ]:
## Data Science Tools

| Tool Name       | Category        |
|---------------|----------------|
| Jupyter Notebook | Development Environment |
| RStudio         | Development Environment |
| Apache Spark    | Big Data Processing |
| TensorFlow      | Machine Learning |

In [ ]:
## Arithmetic Expression Examples
Below are examples of basic arithmetic operations in Python.

In [4]:
# Multiplication and Addition
result = (5 * 3) + 10
result

25

In [2]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [ ]:
## Objectives:
- List popular Data Science languages
- List commonly used Data Science libraries
- Demonstrate basic arithmetic expressions
- Convert minutes to hours using Python
- Share the notebook on GitHub

In [ ]:
## Author:
**Nguyen Le Huu Khoi**