In [1]:
import yfinance as yf
import pandas as pd

In [3]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)

In [4]:
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Fetch the Wikipedia page for Tesla
url = "https://en.wikipedia.org/wiki/Tesla,_Inc."
response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")

# Locate all tables
tables = soup.find_all('table', {'class': 'wikitable'})

# Find the correct financial table
for table in tables:
    if "Revenue" in str(table):
        financial_table = table
        break

# Read the table into a DataFrame
df = pd.read_html(str(financial_table))[0]

# Remove unnecessary header levels if applicable
if isinstance(df.columns, pd.MultiIndex):
    df.columns = df.columns.droplevel(0)

# Rename columns to ensure consistency
df.rename(columns={df.columns[0]: "Year", df.columns[1]: "Revenue"}, inplace=True)

# Drop NaN values
df.dropna(inplace=True)

# Convert 'Revenue' to numeric after cleaning text formatting
df['Revenue'] = df['Revenue'].replace('[\$,]', '', regex=True).astype(float)

print(df.head())  # Display the first few rows

   Year  Revenue Net income (US$ m)  Total assets (US$ m)  Employees  \
1  2006      0.0                −30                    44       70.0
5  2010    117.0               −154                   386      899.0
6  2011    204.0               −254                   713     1417.0
7  2012    413.0               −396                  1114     2914.0
8  2013   2013.0                −74                  2417     5859.0

      Sources
1  [557][558]
5       [558]
6       [558]
7       [558]
8       [558]

/tmp/ipykernel_665/3275555026.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(financial_table))[0]

In [12]:

gamestop = yf.Ticker("GME")
gamestop_data = gamestop.history(period="max")
gamestop_data.reset_index(inplace=True)
gamestop_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603295,1.662209,6892800,0.0,0.0

In [13]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
response = requests.get(url)
soup = BeautifulSoup(response.text, "html.parser")

tables = soup.find_all("table")
tesla_revenue = pd.read_html(str(tables))[0]
tesla_revenue.columns = ["Date", "Revenue"]
tesla_revenue.dropna(inplace=True)

/tmp/ipykernel_899/2526376621.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tesla_revenue = pd.read_html(str(tables))[0]

ValueError: No tables found

In [9]:
fig, ax1 = plt.subplots()

ax1.set_xlabel("Date")
ax1.set_ylabel("Tesla Stock Price", color="tab:blue")
ax1.plot(tesla_data["Date"], tesla_data["Close"], color="tab:blue")
ax1.tick_params(axis="y", labelcolor="tab:blue")

ax2 = ax1.twinx()
ax2.set_ylabel("Tesla Revenue (Billions)", color="tab:red")
ax2.plot(revenue_table["Date"], revenue_table["Revenue"], color="tab:red")
ax2.tick_params(axis="y", labelcolor="tab:red")

plt.title("Tesla Stock Price vs. Revenue")
plt.show()

In [10]:
make_graph(gme_data, "GameStop Stock Price Over Time")

NameError: name 'gme_data' is not defined